.title-allproducts {
  text-shadow: -1px 0px 3px black;
  font-weight: 600;
  font-size: 30px;
}
.btnAddProduct2:hover {
  color: blue;
}
.btnAddProduct2 {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 7%,
    rgba(3, 152, 215, 1) 82%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 1px;
  margin-left: 14px;
  padding: 1px 3px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
}
.btnProduct2 {
  font-size: 16px;
  color: #fff;
  background: rgb(215, 81, 3);
  background: linear-gradient(
    90deg,
    rgba(215, 81, 3, 1) 28%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 1px 3px;
  margin-left: 14px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 6px;
}
.btnProduct2:hover {
  color: red;
}
