.img-avatar-profile {
  width: 200px;
  height: 167px;
  border-radius: 100%;
  margin-left: 60px;
}
.user-name-profile {
  color: #ff8200f2;
  font-weight: bold;
}
.email-profile {
  color: #ff8200f2;
  font-weight: bold;
}
.address-profile {
  color: #ff8200f2;
  font-weight: bold;
}
.email {
}
.address {
}
.user-profile {
}
.box-info {
  background: #fff;

  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 3px 2px 0px #ff8200f2;
  max-height: 400px;
}
.btn-logout {
  background: #ff8200f2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 14px;
}
