.box-nav-left {
  background: #7f7a7a;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}
.box-nav-left2 {
  border-radius: 5px;
  background: #fff;

  padding-right: 36px;
}
.list-nav-left {
  list-style: none;
}
.text-link-navLeft {
  font-size: small;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.text-link-navLeft:hover {
  font-weight: 900;
  color: black;
  text-shadow: 1px 0.5px #ff8200f2;
}
.box-item-li-navLeft:not(:last-child) {
  border-bottom: 2px solid #d9c4c4;
}
.box-nav-left {
  position: relative;
  cursor: pointer;
}

.child-div {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 310px;
  z-index: 1;
  height: auto;
  margin-top: 5px;
}

.box-nav-left:hover > .child-div {
  display: block;
  position: relative;
  padding: 5px;
  border-bottom: 1px solid black;
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
.child-link {
  margin-left: 200px;
  margin-top: -37px;
}
