.box-title {
  border-bottom: 1px solid black;
}
.box-title span {
  margin-top: 12px;
  font-size: 30px;
}
.text-title-regorogy {
  font-family: fantasy;
  text-shadow: -1px 0px 3px black;
}
.text-title {
  margin-top: 33px;
  text-decoration: none;
  color: #ff8200f2;
}
.text-Link-tittle {
  text-decoration: none;
  font-size: 15px;
  color: #ff8200f2;
}
.text-Link-tittle:hover {
  color: #ff8200f2;
  text-decoration: underline;
  text-shadow: 1.5px 1px black;
}
