.btnAddProduct3:hover {
  background: #ececec;
  border: 1px solid black;
  color: black;
}
.btnAddProduct3 {
  border: none;
  background: blue;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 5px;
  color: white;
}
.btnProduct3 {
  border: none;
  background: red;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 5px;
  color: white;
  margin-left: 11px;
}
.btnProduct3:hover {
  background: #ececec;
  border: 1px solid black;
  color: black;
}
