.btnAddProduct3:hover {
  color: blue;
}
.btnAddProduct3 {
  font-size: 16px;
  color: #000000;
  padding: 1px 3px;
  margin-left: 14px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 6px;
}
.btnProduct3 {
  color: #000000;
  padding: 1px;
  margin-left: 14px;
  padding: 1px 3px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
}
.btnProduct3:hover {
  color: red;
}
.box-product {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 322px;
  margin: 4px;
}
